<div>
  <button class="addUserButton" (click)="addNewUsers()">
    <mat-icon>add</mat-icon>
  </button>
</div>
<br>
<div class="random-user">
  <li *ngFor="let user of this.randomUsersList">
  <mat-card class="information">
    <mat-card-header>
    <mat-card-title>{{user.name.first}} {{user.name.last}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image class="picture" src="{{user.picture.large}}">
    <mat-card-content>
      <ul>
        <li><mat-icon>person</mat-icon> {{ user.gender }}</li>
        <li><mat-icon>email</mat-icon> {{user.email}}</li>
        <li><mat-icon>phone</mat-icon> {{ user.phone }}</li>
        <li><mat-icon>map</mat-icon> {{ user.location.street.number }}  {{ user.location.street.name | titlecase }},
          {{ user.location.city | titlecase }}, {{ user.location.state }}</li>
      </ul>
    </mat-card-content>
    <mat-card-actions>
      <button class="SupprimerButton" (click)="deleteUser(user)">Delete this user</button>
    </mat-card-actions>
</mat-card>
  </li>
</div>
